<form class="alimenCart" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

      <div class="cartCols">
        <label for="name" class="label">
          Aliment Name
        </label>
        <input class="label" id="name" type="text" formControlName="name">
      </div>

      <div class="cartCols">
        <label for="ig" class="label">
          ig
        </label>
        <input class="label" id="ig" type="number" formControlName="ig">
      </div>

      <div class="cartCols">
        <label for="ig" class="label">
          Glucids proportion (g/100g)
        </label>
        <input class="label" id="glucidProportion" type="number" formControlName="carbs">
      </div>

     <!-- <button (click)="addToCart(alimentToAdd)"> Add </button> -->
    <button class="button" type="submit"> Add </button>
</form>

